<form method="post" action="{{ path('seuil_delete', {'id': seuil.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce seuil ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seuil.id) }}">
    <button class="btn btn-warning"><i class="fas fa-times"></i> Supprimer</button>
</form>
