{% extends 'base.html.twig' %}

{% block page_title %}Modifier un seuil{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Modifier un seuil{% endblock %}
                {% block box_body %}
                    {{ include('seuil/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    {{ include('seuil/_delete_form.html.twig') }}

                {% endblock %}
                {% block box_footer %}
                    <a href="{{ path('seuil_index') }}">Retour liste</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
