
{% extends 'base.html.twig' %}

{% block page_title %}
    Administration
{% endblock %}
{% block stylesheets %}
    {{ parent() }}{#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
{#    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css" />#}
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}

 {% block page_content %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_title %}<i class="fas fa-list"></i> Liste des Seuils{% endblock %}
                 {% block box_body %}
                     <table id="demo-datatable" class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr>
                             <th></th>
                             <th style="display:none;">Id</th>
                             <th>Nom</th>
                             <th>Seuil</th>
                             <th>Alerte Seuil</th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for seuil in seuils %}
                             <tr id="n_{{ seuil.id }}">
                                 <td></td>
                                 <td style="display:none;">{{ seuil.id }}</td>
                                 <td>{{ seuil.nom }}</td>
                                 <td>{{ seuil.seuil}}</td>
                                 <td>{{ seuil.SeuilAlerte }}</td>
                             </tr>
                       {#  {% else %}
                             <tr>
                                 <td colspan="4">Aucun résultat trouvé</td>
                             </tr>#}
                         {% endfor %}
                         </tbody>
                     </table>
                 {% endblock %}

             {% endembed %}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <script src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/seuil.js') }}"></script>

{% endblock %}



