
{% extends 'base.html.twig' %}

{% block page_title %}Ajouter un seuil{% endblock %}


{% block page_content %}
    {# affichage message flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

<div class="row">
    <div class="col-md-12">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% block box_title %}Ajouter un seuil{% endblock %}
            {% block box_body %}
                {{ include('seuil/_form.html.twig') }}
            {% endblock %}
            {% block box_footer %}
                <a href="{{ path('seuil_index') }}">Retour à la liste</a>
            {% endblock %}
        {% endembed %}
    </div>
</div>
{% endblock %}