{% extends 'base.html.twig' %}

{% block page_title %} Liste des seuils{% endblock %}

{% block page_subtitle %} Exemple de seuils {% endblock %}


 {% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {#embed '@AdminLTE/Widgets/box-widget.html.twig' %}#}
            {% block box_title %}<i class="fas fa-list"></i> Liste des seuils{% endblock %}
                {% block box_body %}
                  <table id="demo-datatable" class="table table-striped table-bordered table-hover ">
                     <thead>
                       <tr>
                         <th>Nom</th>
                         <th>Seuil</th>
                         <th>Alerte Seuil</th>
                       </tr>
                      </thead>
                    <tbody>
                       {% for seuil in seuils %}
                         <tr id="n_{{ seuil.id }}">
                              <td>{{ seuil.nom }}</td>
                              <td>{{ seuil.seuil }}</td>
                              <td>{{ seuil.seuilAlerte }}</td>
                            <td>
                               <a href="{{ path('seuil_show', {'id': seuil.id}) }}" class="btn btn-primary"><i class="fa fa-search"></i> Voir</a>
                               <a href="{{ path('seuil_edit', {'id': seuil.id}) }}" class="btn btn-warning"><i class="fa fa-edit"></i> Editer</a>

                            </td>
                         </tr>
                       {% else %}
                           <tr>
                              <td colspan="3">Aucun enregistrement trouvé</td>
                           </tr>
                       {% endfor %}
                    </tbody>

                  </table>
                {% endblock %}

                {% block box_footer %}
                      <a href="{{ path('seuil_new') }}" class="btn btn-success"><i class="fa fa-plus-square"></i> Ajouter</a>
                {% endblock %}
            {# {% endembed %} #}
        </div>
    </div>
 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non écrasement de ce qu'il pourrait y avoir dans base.html.twig#}

    <script type = "text/javascript" >

        $(document).ready(function() {
            $('#demo-datatable').DataTable();
        });
    </script>
{% endblock %}