
{% extends 'base.html.twig' %}

{% block page_title %}Voir un seuil{% endblock %}
{% block page_subtitle %}Sous titre{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}Voir un seuil{% endblock %}
        {% block box_body %}
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ seuil.Nom }}</td>
                </tr>
                <tr>
                    <th>Seuil</th>
                    <td>{{ seuil.Seuil  |format_currency('EUR', locale='fr')}}</td>
                </tr>
                <tr>
                    <th>Alerte Seuil</th>
                    <td>{{ seuil.SeuilAlerte  |format_currency('EUR', locale='fr')}}</td>
                </tr>
                </tbody>
            </table>
        <table class="table table-striped">
            <tr>
                <td> <a href="{{ path('seuil_edit', {'id': seuil.id}) }}" class="btn btn-success"><i class="fa fa-plus-square"></i> Modifier</a> </td>
                <td> {{ include('seuil/_delete_form.html.twig') }} </td>
            </tr>
        </table>
            {% endblock %}
        {% block box_footer %}
        <a href="{{ path("seuil_index") }}">Retour  liste</a>
        {% endblock %}
        {% endembed %}
    </div>
</div>

{% endblock %}
