
<form method="post" action="{{ path('facturenok_delete', {'id':idfactures}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette ou ces facture(s) ?');">
    <!-- <input type="hidden" name="_method" value="DELETE"> -->
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ idfactures)}}">
    <button class="btn btn-warning"><i class="fas fa-times"></i> Supprimer</button>
</form>

