
<form method="post" action="{{ path('facturenok_delete', {'id':facturenok.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette facture ?');">
    <!-- <input type="hidden" name="_method" value="DELETE"> -->
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facturenok.id) }}">
    <button class="btn btn-warning"><i class="fas fa-times"></i> Supprimer</button>
</form>

