
{% extends 'base.html.twig' %}
{% block title %}Intégration de Facture(s){% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Intégration de Facture(s)
                    <br>
                    <br>
                    {#  {{ dump(fournisseur) }} #}
                        {% if fournisseur.nomenclatureFournisseurs.count == 0  %}
                            <p class="text-danger font-weight-bold font-italic">L'intégration de facture n'est pas réalisable, en effet aucune nomenclature n'est associée à ce fournisseur, veuillez faire le nécessaire afin de mener à bien cette procédure ! .</p>
                        {% endif %}

                {% endblock %}

                {% block box_body %}
                    {{ include('facturenok/_form.html.twig', {'button_label': 'Intégrer'}) }}
                    {#   {{ include('facturenok/_delete2_form.html.twig') }}  #}
                    <table id="nomac" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="display:none;">Id</th>
                            <th>Fournisseur</th>
                            <th>Numéro Tiers</th>
                            <th>Date de paiement</th>
                            <th>Annee</th>
                            <th>Montant</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for facturenok in facturenoks %}
                            <tr id="n_{{ facturenok.id }}">
                                <td style="display:none;">{{ facturenok.id }}</td>
                                <td>{{ facturenok.fournisseur.nom }}</td>
                                <td>{{ facturenok.fournisseur.numTiers }}</td>
                                <td>{{ facturenok.datefacture |date('d-m-Y')}}</td>
                                <td>{{ facturenok.annee }}</td>
                                <td>{{ facturenok.montant |format_currency('EUR', locale='fr')}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% endblock %}
                {% block box_footer %}

                    <a href="{{ path('facturenok_index') }}">Retour à la liste</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
