{% extends 'base.html.twig' %}

{% block page_title %}

    {% if is_granted('ROLE_ADMIN') %}
        Administration
    {% else %}
        Consultation
    {% endif %}

{% endblock %}
{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    {#    <link href="{{asset( 'datatables/Select-1.3.3/css/select.dataTables.css') }}" rel="stylesheet" />#}
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}

 {% block page_content %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_title %}<i class="fas fa-list"></i> Liste des Factures a intégrer{% endblock %}
                 {% block box_body %}
                     <table id="nomac" class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr>
                              {% if is_granted('ROLE_ADMIN') %}
                                 <th></th>
                                 {% endif %}
                             <th style="display:none;">Id</th>
                             <th>Fournisseur</th>
                             <th>Annee</th>
                             <th>Numéro Tiers</th>
                             <th>Date de paiement</th>
                             <th>Montant</th>

                             {#   <th style="visibility:hidden;" width="1"></th>#}
                             <th style="display:none;" ></th>
                             <th></th>
                         </tr>
                         </thead>
                         <tbody>

                         {% for facturenok in facturenoks %}
                             <tr id="n_{{ facturenok.id }}">
                                 {% if is_granted('ROLE_ADMIN') %}
                                 <td></td>
                                 {% endif %}
                                 <td style="display:none;">{{ facturenok.id }}</td>
                                 <td>{{ facturenok.fournisseur.nom }}</td>
                                 <td>{{ facturenok.annee }}</td>
                                 <td>{{ facturenok.fournisseur.numTiers }}</td>
                                 <td>{{ facturenok.datefacture |date('d-m-Y')}}</td>
                                 <td>{{ facturenok.montant}}</td>
                                 {# <td>{{ facturenok.montant |format_currency('EUR', locale='fr')}}</td> #}
                                 {# <td style="visibility:hidden;" width="1">{{ facturenok.fournisseur.id }}</td> #}
                                 <td style="display:none;" >{{ facturenok.fournisseur.id }}</td>
                                 <td class="linka"><a class='btn_clic btn btn-primary btn-sm  fa fa-search' data-toggle='tooltip' data-placement='top' title='Pièce numérisée' target="_blank" href="{{ path('display-pdf',{'id': facturenok.cheminDoc,'annee': facturenok.annee}) }}"></a></td>

                             </tr>

                             {#{% else %}
                             <tr>
                                 <td colspan="4">Aucun résultat trouvé</td>
                             </tr>#}
                         {% endfor %}
                         </tbody>
                     </table>
                 {% endblock %}

             {% endembed %}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}

    <script src="{{ asset('datatables/datatables.min.js') }}"></script>

    {% if is_granted('ROLE_ADMIN') %}
        <script src="{{ asset('js/facturenok.js') }}"></script>
    {% else %}
        <script src="{{ asset('js/facturenokbis.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/datetime.js') }}"></script>



{% endblock %}


