{% extends 'base.html.twig' %}

{% block title %}New Facturenok{% endblock %}

{% block body %}
    <h1>Create new Facturenok</h1>

    {{ include('facturenok/_form.html.twig') }}

    <a href="{{ path('facturenok_index') }}">Retour liste</a>
{% endblock %}
