{% extends 'base.html.twig' %}

{% block title %}Facturenok{% endblock %}

{% block body %}
    <h1>Facturenok</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facturenok.id }}</td>
            </tr>
            <tr>
                <th>NomenclatureId</th>
                <td>{{ facturenok.nomenclatureId }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ facturenok.annee }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ facturenok.montant |format_currency('EUR', locale='fr')}}</td>
            </tr>
            <tr>
                <th>NumMarche</th>
                <td>{{ facturenok.numMarche }}</td>
            </tr>
            <tr>
                <th>TypeMarche</th>
                <td>{{ facturenok.typeMarche }}</td>
            </tr>
            <tr>
                <th>CheminDoc</th>
                <td>{{ facturenok.cheminDoc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('facturenok_index') }}">Retour à la liste</a>

    <a href="{{ path('facturenok_edit', {'id': facturenok.id}) }}">edit</a>

    {{ include('facturenok/_delete_form.html.twig') }}
{% endblock %}
