{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
    {% block box_title %}
        Modification pour le fournisseur {{ nomacf.fournisseur.numTiers}} - {{nomacf.fournisseur.nom }}
    {% endblock %}
    {% block box_body %}
        {{ form_start(formView, {'action': path('nomenclature_fournisseur_edit',{ 'id': nomacf.id }), 'method': 'POST'}) }}
        {{ form_row(formView.numMarche) }}
        {{ form_row(formView.typeMarche) }}
        {{ form_row(formView.categorieMarche) }}
        {{ form_row(formView.obs1) }}
        {{ form_row(formView.obs2) }}
        <button type="submit" class="btn btn-primary" ><i class="fas fa-search"></i> Enregistrer</button>
        {{ form_end(formView) }}
    {% endblock %}
{% endembed %}



