{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
    {% block box_title %}
        Fournisseur {{ nomacf.fournisseur.numTiers}} - {{nomacf.fournisseur.nom }}
    {% endblock %}
     {% block box_body %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>N° de marché</th>
                    <td>{{ nomacf.numMarche }}</td>
                </tr>
                <tr>
                    <th>Type de marché</th>
                    <td>{{ nomacf.typeMarche }}</td>
                </tr>
                <tr>
                    <th>Catégorie de marché</th>
                    <td>{%  if(nomacf.categorieMarche) %}
                            {{ nomacf.categorieMarche.nom }}

                        {% endif %}
                        </td>
                </tr>
                <tr>
                    <th>Observations 1</th>
                    <td>{{ nomacf.obs1 }}</td>
                </tr>
                <tr>
                    <th>Observations 2</th>
                    <td>{{ nomacf.obs2 }}</td>
                </tr>
            </tbody>
        </table>
     {% endblock %}
{% endembed %}
