{% extends 'base.html.twig' %}

{% block page_title %}
    Tableau des achats
{% endblock %}
{% block page_subtitle %}


{% endblock %}
{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <link href="{{ asset( 'css/datatable.css' )}}" rel="stylesheet" />
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}


 {% block page_content %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_body %}
                     {%  set annee=app.request.get('_route_params').an %}
                     <div class="row">
                      <span style="font-size: 18px;font-weight: 400; ">
                             <div class="col-md-3"><label for="exercice"  style="font-weight: normal"><i class="fas fa-list"></i> Tableau des achats - Année d'exercice : </label></div>
                             <div class="col-md-2">
                                 <select name="exercice" id="exercice" >
                                     {% for an in annees %}
                                         <option  value={{ an.annee }}  {% if annee==an.annee %} selected="selected" {% endif %}>{{ an.annee }}</option>
                                     {% endfor %}
                                 </select>
                             </div>
                          </span>
                             <div class="col-md-2">
                                <a class='btn_updaterow btn btn-primary  fa fa-file-excel btn-sm' href="{{ path('myexcel', { 'an': annee }) }}"> Impression Excel</a>
                             </div>

                     </div>
                        <br>
                     <table id="nomac" class="table table-striped table-bordered  table-fixed" style="width: 100%">
                         <thead>
                         <tr>
                             <th>Famille</th>
                             <th></th>
                             <th>Numéro</th>
                             <th>Intitulé</th>
                             <th >Détail</th>
                             <th style="display:none;">Seuil d'alerte</th>
                             <th style="display:none;">Seuil</th>
                             <th>NomSeuil</th>
                             <th>Total</th>
                             <th></th>
                             <th style="display:none;"></th>
                         </tr>
                         </thead>

                         <tbody>

                            {# @var nomenclature array #}

                            {% for nomenclature in nomenclatures %}
                                 <tr id="n_{{ nomenclature.id }}">
                                     <td>{{ nomenclature.famille }}</td>
                                     <td></td>
                                     <td>{{ nomenclature.numero }}</td>
                                     <td>{{ nomenclature.intitule }}</td>
                                     <td> {{ nomenclature.detailIntitule }}</td>
                                     <td style="display:none;">{{ nomenclature.seuilAlerte  }}</td>
                                     <td style="display:none;">{{ nomenclature.seuil  }}</td>
{#                                     {% if (app.user.roles[0]=='ROLE_ADMIN') %}#}
                                     {% if is_granted('ROLE_ADMIN') %}
                                         <td>
                                             <select  size="1" id="s_{{ nomenclature.id }}">
{#                                                 {{ dump(seuils) }}#}
                                                 {% for seuil in seuils %}
                                                    {%  if seuil.id  == nomenclature.seuilid %}
                                                        <option value="{{ seuil.id }}" selected="selected" title="Seuil d'alerte : {{ seuil.seuilAlerte|format_currency('EUR', locale='fr') }} Seuil : {{ seuil.seuil|format_currency('EUR', locale='fr') }}">{{ seuil.nom }}</option>
                                                    {%  else %}
                                                        <option value="{{ seuil.id }}" title="Seuil d'alerte : {{ seuil.seuilAlerte|format_currency('EUR', locale='fr') }} Seuil : {{ seuil.seuil|format_currency('EUR', locale='fr') }}" >{{ seuil.nom }}</option>
                                                     {% endif %}
                                                 {% endfor %}
                                             </select>
                                         </td>
                                     {% else %}
                                       <td title="Seuil d'alerte : {{ nomenclature.seuilAlerte|format_currency('EUR', locale='fr') }} Seuil : {{ nomenclature.seuil|format_currency('EUR', locale='fr') }}">{{ nomenclature.nomseuil }}</td>
                                     {% endif %}
{#                                 {{dump(nomenclature.total|format_currency('EUR', locale='fr')) }}#}
{#                                     <td>{{ nomenclature.total|format_currency('EUR', locale='fr') }}</td>#}
                                     <td>{{ nomenclature.total }}</td>
                                     <td style="display:none;">{{ nomenclature.id}}</td>
                                     {% if (app.user.roles[0]=='ROLE_ADMIN') %}
                                        <td><a class='btn_updaterow btn btn-default btn-warning fa fa-edit btn-sm' data-toggle='tooltip' data-placement='top' title='Enregistrer'></a></td>
                                     {% else %}
                                        <td style="display:none;"></td>
                                    {% endif %}
                                 </tr>
                             {% endfor %}
                         </tbody>
                         <tfoot>
                         <tr>
                             <th colspan="6" style="text-align:right">Total:</th>
                             <th></th>
                         </tr>
                         </tfoot>
                     </table>
                 {% endblock %}
             {% endembed %}
         </div>
     </div>

     <!-- Modal nomenclature fournisseur-->
     <div class="modal fade" id="modalNF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body" >

                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-link" data-dismiss="modal">Quitter</button>
                 </div>
             </div>
         </div>
     </div>

     <!-- Modal factures-->
     <div class="modal fade" id="modalF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body" >
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-link" data-dismiss="modal">Quitter</button>
                 </div>
             </div>
         </div>
     </div>

 {% endblock %}
{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <script src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('datatables/plugins/ellipsis.js') }}"></script>
    <script src="{{ asset('js/resultats.js') }}"></script>
{% endblock %}




