{% extends 'base.html.twig' %}

{% block page_title %}
    Nomenclatures
{% endblock %}
{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{
{% endblock %}

 {% block page_content %}
     {%  set anneecourante=app.request.get('_route_params').exercice %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_body %}
                     <div class="row ">
                         <span style="font-size: 18px;font-weight: 400; ">
                         <div class="col-md-3"><label for="exercice" style="font-weight: normal" ><i class="fas fa-list"></i> Liste des Nomenclatures pour l'année d'exercice</label></div>
                         <div class="col-md-2">
                             <select name="exercice" id="exercice" style="font-weight: normal">
                                 {% for an in anneesexercice %}
                                     <option  value={{ an }}  {% if anneecourante==an %} selected="selected" {% endif %}>{{ an }}</option>
                                 {% endfor %}
                             </select>
                         </div>
                        </span>
                     </div>
                     <br>
                     <table id="nomac" class="table table-striped table-bordered table-fixed" style="width: 100%">
                         <thead>
                         <tr>
                             <th></th>
                             <th style="display:none;">Id</th>
                             <th>Numéro</th>
                             <th>Intitulé</th>
                             <th>Seuil</th>
                             <th>Famille</th>
                             <th>Détails</th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for nomenclature in nomenclatures %}
                             <tr id="n_{{ nomenclature.id }}">
                                 <td></td>
                                 <td style="display:none;">{{ nomenclature.id }}</td>
                                 <td>{{ nomenclature.numero }}</td>
                                 <td>{{ nomenclature.intitule }}</td>
                                 <td>{{ nomenclature.seuil.seuil|format_currency('EUR', locale='fr') }}</td>
                                 <td>{{ nomenclature.famille.intitule }}</td>
                                 <td>{{ nomenclature.detailIntitule }}</td>
                             </tr>

                         {% endfor %}
                         </tbody>
                     </table>
                 {% endblock %}

             {% endembed %}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}

   <script src="{{ asset('datatables/datatables.min.js') }}"></script>

    <script src="{{ asset('datatables/plugins/ellipsis.js') }}"></script>
    <script src="{{ asset('js/nomenclature.js') }}"></script>
{% endblock %}
