{% extends 'base.html.twig' %}

{% block page_title %}Nomenclature{% endblock %}

{% block page_content %}
    {% set anneecourante= "now"|date("Y")  %}
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig'  %}
                {% block box_body %}
                    {% macro fournisseurForm(form) %}
                        <td>{{ form_row(form.fournisseur) }}</td>
                        <td>{{ form_row(form.typeMarche) }}</td>
                        <td>{{ form_row(form.numMarche) }}</td>
                        <td>{{ form_row(form.categorieMarche) }}</td>
                        <td>{{ form_row(form.active) }}</td>

                    {% endmacro %}

                    {% import _self as macros %}

                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-4">  {{ form_row(form.numero) }}</div>
                        <div class="col-md-8"> {{ form_row(form.intitule) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">{{ form_row(form.seuil) }}</div>
                        <div class="col-md-6">{{ form_row(form.famille) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.detailIntitule) }}</div>
                    </div>

                    <h4>Liste des fournisseurs pour l'année en cours</h4>

                    <button type="button" class="add_item_link btn btn-success" data-collection-holder-class="tags"><i class="fa fa-plus-square"></i>Nouveau fournisseur</button>
                    <hr>

                    <table id="tab-fournisseurs" class="tags table table-striped table-bordered table-hover" data-prototype="{{ macros.fournisseurForm (form.nomenclatureFournisseurs.vars.prototype)|e('html_attr')}}">
                        <tbody>
                        {% for row in form.nomenclatureFournisseurs %}
                            <tr class="nf">
                                {{ macros.fournisseurForm(row) }}
                            </tr>
                        {% endfor %}
                        {{ form_errors(form) }}
                        </tbody>
                    </table>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> {{ button_label|default('Valider') }}</button>
                    </div>

                    {{ form_end(form) }}
                    {#{{ form_end(form, {'render_rest': false}) }}#}
                {% endblock %}
                {% block box_footer %}
                   <a href="{{ path('nomenclature_index',{'exercice': exercice}) }}">Retour à la liste</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <script src="{{ asset('js/nomenclaturesFournisseurs.js') }}"></script>

{% endblock %}