<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<strong>COMPTE RENDU</strong>

{% set nbfichiers = 0 %}
{% set nbimports = 0 %}
{% set nbrejets = 0 %}
{# recup stats sur les fichiers #}
  {% for action in summary  %}

      {% set nbfichiers = nbfichiers + 1 %}

      {% if (('__error') in action[1])== false %}
          {% set nbimports = nbimports + 1 %}
      {% else %}
          {% set nbrejets = nbrejets + 1 %}

      {% endif %}

  {% endfor %}

<p>Nombre de fichiers répertoriés : {{ nbfichiers }}</p>
<p></p>
<p>Nombre de fichiers ODP importés : {{ nbimports }}</p>
<p></p>
<p>Nombre de fichiers rejetés : {{ nbrejets }}</p>
<p></p>

<p>Détail des rejets :</p>
<table>
    <th>
        <tr>
            <th></th>
        </tr>
    </th>
    <tr>
    {% for action in summary  %}
        {% if ('__error') in action[1] %}
            <td>{{ action[1] }}</td>
        {% endif %}

        </tr>
    {% endfor %}
</table>

</body>
</html>