<strong>Compte rendu de l'import</strong>

<table>
    <th>
        <tr>
            <th>From</th>
            <th>Resultat</th>
        </tr>
    </th>
    {% for action in summary  %}
        <tr>
            <td>{{ action[0] }}</td>
            <td>{{ action[1] }}</td>
        </tr>
    {% endfor %}
</table>
