<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<strong>COMPTE RENDU DE TRAITEMENT </strong>
{% set nbfactures = 0 %}
{% set nbfacturesuppr = 0 %}

{% for action in summary  %}

    {% set nbfactures = action[0] %}
    {% set nbfacturesuppr = action[1] %}
    <p>Nombre de factures concernées : {{ action[0] }}</p>
    <p></p>
    <p>Nombre de factures supprimées : {{ action[1] }}</p>
    <p></p>


{% endfor %}







</body>
</html>