<form method="post" action="{{ path('famille_nomenclature_delete', {'id': famille_nomenclature.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette famille ?');">
    <!--<input type="hidden" name="_method" value="DELETE"> -->
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ famille_nomenclature.id) }}">
    <button class="btn btn-warning"><i class="fas fa-times"></i> Supprimer</button>
</form>
