{% extends 'base.html.twig' %}

{% block title %}Modifier une  Famille de Nomenclatures{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% block box_title %}Modifier une Famille {% endblock %}
            {% block box_body %}
                {{ include('famille_nomenclature/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                {{ include('famille_nomenclature/_delete_form.html.twig') }}
            {% endblock %}
            {% block box_footer %}
                <a href="{{ path('famille_nomenclature_index') }}">Retour à la liste</a>
            {% endblock %}
        {% endembed %}
    </div>
</div>
{% endblock %}