{% extends 'base.html.twig' %}

{% block title %}Nouvelle Famille de Nomenclatures{% endblock %}

{% block page_content %}
    <h1>Création d'une nouvelle Famille de Nomenclatures</h1>

    {{ include('famille_nomenclature/_form.html.twig') }}

    <a href="{{ path('famille_nomenclature_index') }}">Retour liste</a>
{% endblock %}
