{% extends 'base.html.twig' %}

{% block page_title %}Famille de Nomenclatures{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Voir une famille{% endblock %}
                {% block box_body %}
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Intitule</th>
                            <td>{{ famille_nomenclature.Intitule }}</td>
                        </tr>
                        <tr>
                            <th>Nomenclature(s)</th>
                            <td>
                                {% for nomenclature in famille_nomenclature.nomenclatures  %}
                                    {{ nomenclature.intitule |raw|nl2br }}
                                    {# nomenclature.intitule~loop.index |raw|nl2br#}
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped">
                        <tr>
                            <td> <a href="{{ path('famille_nomenclature_edit', {'id': famille_nomenclature.id}) }}" class="btn btn-success"><i class="fa fa-plus-square"></i> Modifier</a> </td>
                            <td> {{ include('famille_nomenclature/_delete_form.html.twig') }} </td>
                        </tr>
                    </table>



                {% endblock %}
                {% block box_footer %}

                    <a href="{{ path('famille_nomenclature_index') }}">Retour à la liste</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
