
<form method="post" action="{{ path('categorie_marche_delete', {'id': categorie_marche.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette catégorie de marché ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_marche.id) }}">
    <button class="btn btn-warning"><i class="fas fa-times"></i> Supprimer</button>
</form>
