
{% extends 'base.html.twig' %}

{% block page_title %}
    Administration
{% endblock %}
{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    {#    <link href="{{asset( 'datatables/Select-1.3.3/css/select.dataTables.css') }}" rel="stylesheet" />#}
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}

 {% block page_content %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_title %}<i class="fas fa-list"></i> Liste des Catégories de Marché{% endblock %}
                 {% block box_body %}
                     <table id="nomac" class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr>
                             <th></th>
                             <th style="display:none;">Id</th>
                             <th>Nom</th>

                         </thead>
                         <tbody>
                         {% for categorie_marche in categorie_marches %}
                             <tr id="n_{{ categorie_marche.id }}">
                                 <td></td>
                                 <td style="display:none;">{{ categorie_marche.id }}</td>
                                 <td>{{ categorie_marche.nom }}</td>

                             </tr>


                         {#{% else %}
                             <tr>
                                 <td colspan="4">Aucun résultat trouvé</td>
                             </tr>#}
                         {% endfor %}
                         </tbody>
                     </table>
                 {% endblock %}

             {% endembed %}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <script src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/categmarche.js') }}"></script>

{% endblock %}

