
{% extends 'base.html.twig' %}

{% block page_title %}Ajouter une catégorie de marché{% endblock %}

{% block page_content %}
    {# affichage message flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Ajouter une catégorie de marché{% endblock %}
                {% block box_body %}
                    {{ include('categorie_marche/_form.html.twig') }}
                {% endblock %}
                {% block box_footer %}
                    <a href="{{ path('categorie_marche_index') }}">Retour à la liste</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
