
{% extends 'base.html.twig' %}

{% block page_title %}Voir un catégorie de marché{% endblock %}
{% block page_subtitle %}Sous titre{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Voir une catégorie de marché{% endblock %}
                {% block box_body %}
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ categorie_marche.nom }}</td>
                        </tr>

                        </tbody>
                    </table>
                    <table class="table table-striped">
                        <tr>
                            <td> <a href="{{ path('categorie_marche_edit', {'id': categorie_marche.id}) }}" class="btn btn-success"><i class="fa fa-plus-square"></i> Modifier</a> </td>
                            <td> {{ include('categorie_marche/_delete_form.html.twig') }} </td>
                        </tr>
                    </table>
                {% endblock %}
                {% block box_footer %}
                    <a href="{{ path("categorie_marche_index") }}">Retour  liste</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}
