{% extends '@TwigBootstrap/layout.html.twig' %}
{% block title %}
    NOMAC - {{ block('page_title') }}
{% endblock %}
{% block navbar_toggle %}
    {% set marque = 'NOMAC<br />Achats Marchés Contrats' %}
    {{ parent() }}
{% endblock %}
   {% block navbar_user %}
        {% include 'nomacuser.html.twig' with {'adminlte_direct_include': true} %}
   {%  endblock %}
{% block footer %}

    {% include 'footer.html.twig' with {
        organisme: 'CPAM 31',
        application: 'NOMAC',
        version: '1.0.0'
    } %}
{% endblock %}
