<footer class="main-footer">
    <div class="text-right hidden-xs">
        <div class="pull-left">
            {{ organisme }}
        </div>
        <div class="pull-right">
            {{ application }} - <b>{{ version }}</b>
        </div>
    </div>
</footer>