{% extends  'base.html.twig' %}

{% block page_title %}
   NOMAC
{% endblock %}

{% block page_subtitle %}

{% endblock %}

{% block page_content %}
    <h1>Bienvenue sur NOMAC</h1>
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}
                    {# Title goes here #}
                {% endblock %}
                {% block box_body %}
                    {# Content goes here #}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
    {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
        'color' : 'aqua',
        'icon'  : 'comments-o',
    }%}
        {% block box_text %}
            {# text goes here #}
        {% endblock %}
        {% block box_number %}
            {# number goes here #}
        {% endblock %}
        {% block progress_description %}
            {# progress text goes here#}
        {% endblock %}
    {% endembed %}
    </div>
</div>
{% endblock %}
