
<form method="post" action="{{ path('fournisseur_delete', {'id': fournisseur.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce fournisseur ?');">
    <!-- <input type="hidden" name="_method" value="DELETE"> -->
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
    <button class="btn btn-warning"><i class="fas fa-times"></i> Supprimer</button>
</form>
