
{% extends 'base.html.twig' %}

{% block page_title %}
   Administration
{% endblock %}

{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    {#    <link href="{{asset( 'datatables/Select-1.3.3/css/select.dataTables.css') }}" rel="stylesheet" />#}
    <link href="{{ asset( 'css/datatable.css' )}}" rel="stylesheet" />
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}

 {% block page_content %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_title %}<i class="fas fa-list"></i> Liste des fournisseurs{% endblock %}
                 {% block box_body %}
                     <table id="nomac" class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr>
                             <th></th>
                             <th style="display:none;">Id</th>
                             <th>Numéro Tiers</th>
                             <th>Nom</th>
                             <th>Rejeté</th>

                         </tr>
                         </thead>
                         <tbody>
                         {% for fournisseur in fournisseurs %}
                             <tr id="n_{{ fournisseur.id }}">
                                 <td></td>
                                 <td style="display:none;">{{ fournisseur.id }}</td>
                                 <td>{{ fournisseur.NumTiers }}</td>
                                 <td>{{ fournisseur.Nom }}</td>
                                 <td>{% if fournisseur.rejet %}rejet{% else %}valide{% endif %}</td>
                             </tr>
                       {#  {% else %}
                             <tr>
                                 <td colspan="4">Aucun résultat trouvé</td>
                             </tr>#}
                         {% endfor %}
                         </tbody>
                     </table>
                 {% endblock %}

             {% endembed %}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}

   <script src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/fournisseur.js') }}"></script>

{% endblock %}

