{% extends 'base.html.twig' %}

{% block page_title %}Voir un fournisseur{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}Voir un fournisseur{% endblock %}
        {% block box_body %}
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Numéro Tiers</th>
                    <td>{{fournisseur.NumTiers }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{fournisseur.Nom }}</td>
                </tr>

                <tr>
                    <th>Nomenclature(s)</th>
                    <td>
                        {% for nomenclature in fournisseur.nomenclatureFournisseurs %}
                            {{ nomenclature.nomenclature.intitule |raw|nl2br }}
                        {% endfor %}

                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped">
                <tr>
                    <td> <a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}" class="btn btn-success"><i class="fa fa-plus-square"></i> Modifier</a> </td>
                    <td> {{ include('fournisseur/_delete_form.html.twig') }} </td>
                </tr>
            </table>


        {% endblock %}
         {% block box_footer %}
        <a href="{{ path('fournisseur_index') }}">Retour à la liste</a>
        {% endblock %}
        {% endembed %}
    </div>
</div>
{% endblock %}






























