{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="modal-footer">
    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> {{ button_label|default('Valider') }}</button>
</div>
{{ form_end(form) }}

