{% extends 'base.html.twig' %}

{% block page_title %}Modifier une facture{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Modifier une facture{% endblock %}
                {% block box_body %}
                    {{ include('facture/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    {{ include('facture/_delete_form.html.twig') }}
                {% endblock %}
                {% block box_footer %}
                    <a href="{{ path('facture_index') }}">Retour à la liste</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}

