

        <table id="demo-facture" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Description</th>
                <th>Montant</th>
                <th>Date de paiement</th>
                <th>Date d'import</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for facture in factures %}
                <tr>
                    <td>{{ facture.description }}</td>
                    <td>{{ facture.montant }}</td>
                    <td>{{ facture.datefacture|format_date(locale='fr',pattern="dd-MM-YYYY") }}</td>
                    <td>{{ facture.dateimport|format_date(locale='fr',pattern="dd-MM-YYYY") }}</td>
                    <td><a class='btn_clic btn btn-primary btn-sm  fa fa-search' data-toggle='tooltip' data-placement='top' title='Pièce numérisée' target="_blank" href="{{ path('display-pdf',{'id': facture.cheminDoc,'annee': facture.annee}) }}"></a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>




