
{% extends 'base.html.twig' %}

{% block page_title %}
    Achats des fournisseurs hors nomenclature
{% endblock %}
{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    {#    <link href="{{asset( 'datatables/Select-1.3.3/css/select.dataTables.css') }}" rel="stylesheet" />#}
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}

 {% block page_content %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_title %}<i class="fas fa-list"></i> Achats des fournisseurs éliminés{% endblock %}
                 {% block box_body %}
                     <table id="nomac" class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr>
                             <th></th>
                             <th style="display:none;">Id</th>
                             <th>Nomenclature</th>
                             <th>Fournisseur</th>
                             <th>Année</th>
                             <th>Date import</th>
                             <th>Montant</th>

                         </thead>
                         <tbody>
                         {% for facture in factures %}
                             <tr id="n_{{ facture.id }}">
                             <td></td>
                             <td style="display:none;">{{ facture.id }}</td>
                             <td>{{ facture.nomenclature.numero }}-{{ facture.nomenclature.intitule }} </td>
                             <td>{{ facture.fournisseur.nom }}</td>
                             <td>{{ facture.annee }}</td>
                             <td>{{ facture.dateimport }}</td>
                             <td>{{ facture.montant |format_currency('EUR', locale='fr')}}</td>
                             </tr>


                         {% else %}
                             <tr>
                                 <td colspan="4">Aucun résultat trouvé</td>
                             </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                 {% endblock %}

             {% endembed %}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}

    <script src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/facture11.js') }}"></script>
    <script src="{{ asset('js/datetime.js') }}"></script>
{% endblock %}

