
{% extends 'base.html.twig' %}

{% block page_title %}
    Administration
{% endblock %}
{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    {#    <link href="{{asset( 'datatables/Select-1.3.3/css/select.dataTables.css') }}" rel="stylesheet" />#}
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}

 {% block page_content %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_title %}<i class="fas fa-list"></i> Liste des Factures{% endblock %}
                 {% block box_body %}
                     <table id="nomac" class="table table-striped table-bordered table-hover">
                         <thead>
                             <tr>
                                 <th></th>
                                 <th style="display:none;">Id</th>
                                 <th>Nomenclature</th>
                                 <th>Fournisseur</th>
                                 <th>Année</th>
                                 <th>Montant</th>
                                 <th>Date de paiement</th>
                                 <th>Organisme</th>
                                 <th>Description</th>
                                 <th>Date d'import</th>
                                 <th></th>
                             </tr>
                         </thead>
                         <tbody>
                         {% for facture in factures %}
                             <tr id="n_{{ facture.id }}">
                                 <td></td>
                                 <td style="display:none;">{{ facture.id }}</td>
                                 <td>{{ facture.nomenclatureFournisseur.nomenclature.numero }}-{{ facture.nomenclatureFournisseur.nomenclature.intitule }} </td>
                                 <td>{{ facture.fournisseur.nom }}</td>
                                 <td>{{ facture.annee }}</td>
                                 <td>{{ facture.montant}}</td>
                                 <td>{{ facture.datefacture|date('d-m-Y')}}</td>
                                 <td>{{ facture.organisme}}</td>
                                 <td>{{ facture.description}}</td>
                                 <td>{{ facture.dateimport |date('d-m-Y')}}</td>
                                 <td class="linka"><a class='btn_clic btn btn-primary btn-sm  fa fa-search' data-toggle='tooltip' data-placement='top' title='Pièce numérisée' target="_blank" href="{{ path('display-pdf',{'id': facture.cheminDoc,'annee': facture.annee}) }}"></a></td>
                             </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                 {% endblock %}
             {% endembed %}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <script src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/facture11.js') }}"></script>
    <script src="{{ asset('js/datetime.js') }}"></script>
{% endblock %}

