
{% extends 'base.html.twig' %}

{% block page_title %}
  Consultation
{% endblock %}
{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
   {#  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css" />#}
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}

 {% block page_content %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_title %}<i class="fas fa-list"></i>Factures {% endblock %}
                 {% block box_body %}
                     <table id="example" class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr>
                             <th>Fournisseur</th>
                             <th>Numéro Tiers</th>
                             <th>Annee</th>
                             <th>Montant</th>
                             <th>Date de paiement</th>
                             <th>Organisme</th>
                             <th>Description</th>
                             <th>Date d'import</th>

                         </tr>
                         </thead>
                         <tbody>

                         {% for facture in factures %}
                             <tr id="n_{{ facture.id }}">
                                 <td>{{ facture.fournisseur.nom }}</td>
                                 <td>{{ facture.fournisseur.numTiers }}</td>
                                 <td>{{ facture.annee }}</td>
                                 <td>{{ facture.montant|format_currency('EUR', locale='fr') }}</td>
                                 <td>{{ facture.datefacture |date('d-m-Y')}}</td>
                                 <td>{{ facture.organisme}}</td>
                                 <td>{{ facture.description}}</td>
                                 <td>{{ facture.dateimport |date('d-m-Y')}}</td>
                             </tr>

                         {% else %}
                             <tr>
                                 <td colspan="4">Aucun résultat trouvé</td>
                             </tr>
                         {% endfor %}
                         </tbody>
                         <tfoot>
                         <tr>

                             <th>Fournisseur</th>
                             <th>Numéro Tiers</th>
                             <th>Annee</th>
                             <th>Montant</th>
                             <th>CheminDoc</th>
                         </tr>
                         </tfoot>
                     </table>
                 {% endblock %}

             {% endembed %}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
     {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
     <script src="{{ asset('datatables/datatables.js') }}"></script> #}
    {#<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script> #}
    {#<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script> #}
    {#  <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script> #}
    <script src="{{ asset('js/listfact.js') }}"></script>
{#
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable( {
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        //.appendTo( $(column.footer()).empty() )
                        .appendTo( $(column.header()) )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                            // to avoid conflicts with the column ordening use with .appendTo( $(column.header()) )
                            $( select ).click( function(e) {
                            e.stopPropagation();
                           });


                        } );


                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        } );
    } );
</script>
#}
{% endblock %}

