
{% extends 'base.html.twig' %}

{% block page_title %}
  Consultation
{% endblock %}
{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}

 {% block page_content %}

     <div class="container">
         <div class="grix xs1 sm5 gutter-0 card">
             <div class="col-xs1">
                 <p>Fournisseur</p>
                 <form id="filters">

                     <select class="form-control" id="lstfournisseur">
                         {% for fournisseur in fournisseurs  %}
                             <option value="{{fournisseur.id}} " >{{fournisseur.nom ~ '-' ~' [' ~ fournisseur.numtiers ~ ']' }}</option>
                         {% endfor %}
                     </select>
                     {% set Yearnow = "now"|date("Y")%}
                     <br>
                     <br>
                     Année:
                     <select name="an"  id="an">
                         {% for year in Yearnow..(Yearnow -5)%}
                             <option value="{{ year }}" >{{ year }}</option>
                         {% endfor %}
                     </select>
                     <br>
                     <br>
                     <input id="recherche" class="btn btn-primary" type="" value="Recherche">

                 </form>
             </div>
         </div>
     </div>
     <br>
     <br>
     <div class="row">
         {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
         {% block box_title %}
             <i class="fas fa-list"></i> Factures émises par ce fournisseur
         {% endblock %}
             {% block box_body %}
             <div class="col-md-12" id="divfactures">
             </div>
             {% endblock %}
         {% endembed %}

     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <script src="{{ asset('datatables/datatables.js') }}"></script>
{# <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script> #}
    <script src="{{ asset('js/datetime.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $("#recherche").click(function () {
                var idfournisseur = $("#lstfournisseur option:selected").attr("value");
                var anselect = $("#an option:selected").attr("value");
                const Url1='/facture/listeparfournisseur/' + $.trim(idfournisseur) + "/" +  $.trim(anselect);
                $.ajax({
                    url: Url1,
                    success: function (data) {
                       $('#divfactures').html(data);
                        $("#demo-facture").dataTable({
                            columnDefs: [
                                {
                                    targets: 2,
                                    render: $.fn.dataTable.render.moment( 'DD-MM-YYYY','DD/MM/YYYY')
                                },
                                {
                                    targets: 3,
                                    render: $.fn.dataTable.render.moment( 'DD-MM-YYYY','DD/MM/YYYY')
                                },
                                {
                                    targets: 4,
                                    orderable: false
                                }]

                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
