
{% extends 'base.html.twig' %}

{% block page_title %}
    Consultation
{% endblock %}
{% block stylesheets %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    {#    <link href="{{asset( 'datatables/Select-1.3.3/css/select.dataTables.css') }}" rel="stylesheet" />#}
    <link href="{{ asset( 'datatables/datatables.min.css' )}}" rel="stylesheet" />
{% endblock %}

 {% block page_content %}
     <div class="row">
         <div class="col-md-12">
             {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                 {% block box_title %}<i class="fas fa-list"></i> Montants par Fournisseur{% endblock %}
                 {% block box_body %}
                     <table id="nomac" class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr>
                             {#  <th></th>#}
                             <th style="display:none;">Id</th>
                             <th>Numéro Tiers</th>
                             <th>Fournisseur</th>
                             <th>Montant cumulé [ 3 ans]</th>
                             <th>Montant annuel</th>

                         </thead>
                         <tbody>
                         {% for fournisseur in fournisseurs %}
                             <tr id="n_{{ fournisseur.id }}">
                                 {# <td></td> #}
                                 <td style="display:none;">{{ fournisseur.id }}</td>
                                 <td>{{ fournisseur.numero}}</td>
                                 <td>{{ fournisseur.nom}}</td>
                                 <td>{{ fournisseur.montantcumul }}</td>
                                 <td>{{ fournisseur.montantannuel }}
                                 {#<td>{{ fournisseur.montantcumul|format_currency('EUR', locale='fr') }}</td>#}
                                  {#<td>{{ fournisseur.montantannuel|format_currency('EUR', locale='fr') }}</td>#}
                             </tr>


                         {% else %}
                             <tr>
                                 <td colspan="4">Aucun résultat trouvé</td>
                             </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                 {% endblock %}

             {% endembed %}
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }} {#recuperation et non ecrasement de ce qu'il pourrait y avoir dans base.html.twig#}
    <script src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/montantfournisseur.js') }}"></script>

{% endblock %}




