{% extends 'base.html.twig' %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Ajouter une Facture{% endblock %}
                {% block box_body %}
                    {{ include('facture/_form.html.twig') }}
                {% endblock %}
                {% block box_footer %}
                    <a href="{{ path('facture_index') }}">Retour à la liste</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
