{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
    {% block box_title %}
{#        utilisé pour l'affichage des factures a partir du tableau de resultats#}
        {# @var NF \App\Entity\NomenclatureFournisseur #}
        Factures pour Nomenclature : {{ NF.nomenclature.intitule }} - Fournisseur : {{ NF.fournisseur.nom }}
    {% endblock %}

    {% block box_body %}
        {% set an = NF.annee %}
        <table id="NFfactures" class="table table-striped ">
            <thead class="thead-light">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Montant</th>
{#                <th style="display:none;">Chemin du document</th>#}
                <th>Date d'import</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {# @var facture \App\Entity\Facture #}
            {% for facture in factures %}
                <tr>
                    <td>{{ facture.datefacture|format_date(locale='fr',pattern="dd/MM/YYYY") }}</td>
                    <td>{{ facture.description }}</td>
                    <td>{{ facture.montant|format_currency('EUR', locale='fr') }}</td>
                    <td>{{ facture.dateimport|format_date(locale='fr',pattern="dd/MM/YYYY") }}</td>
                    <td><a class='btn_clic btn btn-primary btn-sm  fa fa-search' data-toggle='tooltip' data-placement='top' title='Pièce numérisée' target="_blank" href="{{ path('display-pdf',{'id': facture.cheminDoc,'annee': an}) }}"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endembed %}



