
{% extends 'base.html.twig' %}

{% block page_title %}Voir une facture{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}Voir une facture{% endblock %}
                {% block box_body %}
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Nomenclature</th>
                            <td>{{ facture.nomenclatureFournisseur.nomenclature.numero }}-{{ facture.nomenclatureFournisseur.nomenclature.intitule }} </td

                        </tr>
                        <tr>
                            <th>Fournisseur</th>
                            <td>{{ facture.fournisseur.nom}}</td>
                        </tr>
                        <tr>
                            <th>Année</th>
                            <td>{{ facture.annee }}</td>
                        </tr>
                        <tr>
                            <th>Montant</th>
                            <td>{{ facture.montant |format_currency('EUR', locale='fr')}}</td>
                        </tr>

                        <tr>
                            <th>Chemin du Document</th>
                            <td>{{ facture.cheminDoc }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped">
                        <tr>
                            <td> <a href="{{ path('facture_edit', {'id': facture.id}) }}" class="btn btn-success"><i class="fa fa-plus-square"></i> Modifier</a> </td>
                            <td> {{ include('facture/_delete_form.html.twig') }} </td>
                        </tr>
                    </table>
                {% endblock %}
                {% block box_footer %}
                    <a href="{{ path('facture_index') }}">Retour à la liste</a>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
