{% extends 'base.html.twig' %}
{% block page_title %}Erreur - fichier absent{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
            {% block box_title %}Ouuups Facture non trouvée !{% endblock %}
            {% block box_body %}
                <p>La facture numérisée avec les caractéristiques suivantes n'a pas été retrouvée</p>
                <p>N° ODP : {{odp}}</p>
                <p>Année : {{annee}}</p>
            {% endblock %}
        {% endembed %}
    </div>
</div>
{% endblock %}




{% block title %}{% endblock %}

{% block body %}
    <h1>Page non trouvée</h1>

{% endblock %}